.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #92a8d1;
    color: white;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #92a8d1;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.panel-body {
    background-color: #92a8d1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.table th {
    width: 10px;
}